#keyboard-root {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 10px auto;
    display: flex;
    position: relative;
}

#keyboard-black {
    position: absolute;
}

.white {
    background-color: white;
    position: relative;
    flex-grow: 1;
    color: black;
}
.white:hover {
    background-color: hsl(0, 0%, 95%);
}
.white.white-down {
    background-color: hsl(0, 0%, 90%);
}

.black {
    position: absolute;
    background-color: black;
    color: white;
}
.black:hover {
    background-color: hsl(0, 0%, 15%);
}
.black.black-down{
    background-color: hsl(0, 0%, 20%);
}

.key {
    border: 1px solid #AAA8;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 5px 0 0 #CCC8;
}

.label {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    user-select: none;
}

#waveform-root {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
    
    margin: 0 auto 0 auto;
    border: 1px solid black;
}

svg {
    display: block;
    margin: auto;
}
