/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
  
/* IMAGE STYLES */
/*[type=radio] + img {*/
/*  cursor: pointer;*/
/*  margin: 5px;*/
/*}*/

/*!* CHECKED STYLES *!*/
/*[type=radio]:checked + img {*/
/*  outline: 2px solid #6a00ba;*/
/*}*/

#wave-selector {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#wave-selector img {
  object-fit: none;
  width: 125px;
  height:125px;
}

#waveButton {
  border-radius: 75%;
  background-color: #f1f1f1;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
  outline: 0;
  border: none;
}

#waveButton:hover{
  background-color: #ccc;
}

#wave-selector p {
  text-align: center;
}

#volume {
  position: absolute;
  top: 10px;
  right: 0px;
}